# Исследование надежности заемщиков

**Цель исследования**


Нужно разобраться, как разные характеристика клиента влияют на факт погашения кредита в срок.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.



**Заказчик**


Кредитный отдел банка.



**Вопросы, на которые необходимо ответить:**

Есть ли зависимость между количеством детей и возвратом кредита в срок?
Есть ли зависимость между семейным положением и возвратом кредита в срок?
Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
Как разные цели кредита влияют на его возврат в срок?
Ход исследования

Входные данные от банка — статистика о платёжеспособности клиентов

О качестве данных ничего не известно. Поэтому перед проверкой гипотез понадобится обзор данных.

Мы проверим данные на ошибки и оценим их влияние на исследование. Затем, на этапе предобработки поищем возможность исправить самые критичные ошибки.



**Таким образом, исследование пройдёт в три этапа:**


Обзор данных.
Предобработка данных.
Ответы на вопросы.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [ ]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('data.csv')

**Выводим на просмотр первые 20 строк таблицы**

In [ ]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

Выведем основную информацию о датафрейме

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

**Вывод:** Встречаются пропуски в данных, возможно есть дубликаты и потребуется изменить в некоторых столбцах типы данных.

## Шаг 2. Предобработка данных

Удалим дубликаты, исключим пропуски, приведем данные в столбцах к единому стилю, оптимизируем данные в таблице путем категоризации.

### Удаление пропусков

**Выведем количество пропущенных значений для каждого столбца**

In [ ]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Вывод:** В двух столбцах есть пропущенные значения. Один из них — `days_employed` и другой столбец с пропущенными значениями — `total_income` он хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`.

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какойто ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`.

**Заменим все отрицательные значения в столбце с количеством трудового стажа**

In [ ]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведем медианное значение трудового стажа `days_employed` в днях.

In [ ]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится нам для исследования.

Выведем перечень уникальных значений столбца `children`.

In [ ]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма.**

In [ ]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**вывем перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены**

In [ ]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

**Заполним пропуски в столбце `days_employed` медианными значениями для каждого типа занятости `income_type`.**

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Проверим удалены ли все пропуски**

In [ ]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Измененим типы данных

**Заменим вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [ ]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Обработим неявные дубликаты в столбце `education`.**

In [ ]:
data['education'] = data['education'].str.lower()

** Выведем на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [ ]:
data.duplicated().sum()

71

In [ ]:
data = data.drop_duplicates()

### Категоризация данных

**создадим столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [ ]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [ ]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Выведем на экран перечень уникальных целей взятия кредита**

In [ ]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Используя собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определим, какие подстроки помогут вам определить категорию.**

In [ ]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [ ]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Шаг 3. Исследуем данные и ответьте на вопросы

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [ ]:
children_debt = data.groupby('children')['debt'].agg({'count', 'mean'})
#(data.groupby('children')['debt'].agg({'count', 'mean'}))
display (children_debt)

              mean  count
children
0         0.075438  14091
1         0.092346   4808
2         0.094542   2052
3         0.081818    330
4         0.097561     41
5         0.000000      9

**Вывод:** Данные не однозначные, но по ним видно, что у кого нет детей меньше просрочек. А вот у людей с детьми от 1 до 4, больше всего просрочек, скорее всего это связано с финансовой нагрузкой. Нет просрочек у тех, у кого 5 детей, таких единицы.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [ ]:
family_status_debt = (data.groupby('family_status')['debt'].agg({'count', 'mean'})) # 
display (family_status_debt.sort_values(by='mean'))
#Ваш код будет здесь. Вы можете создавать новые ячейки.

                           mean  count
family_status
вдовец / вдова         0.066246    951
в разводе              0.070648   1189
женат / замужем        0.075606  12261
гражданский брак       0.093130   4134
Не женат / не замужем  0.097639   2796

**Вывод:** Да, зависимость есть. Те, кто не в браке чаще всего нарушают срок уплаты кредита. Но вот те, кто овдовели или развелись, более надежные клиенты банка чем кто в браке.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [ ]:
#display (data.head(20))
total_income_debt = (data.groupby('total_income_category')['debt'].agg({'count', 'mean'})) # 
display (total_income_debt.sort_values(by='mean', ascending=False))

# Ваш код будет здесь. Вы можете создавать новые ячейки.

                           mean  count
total_income_category
E                      0.090909     22
C                      0.084982  15921
A                      0.080000     25
B                      0.070602   5014
D                      0.060172    349

**Вывод:** Зависимость от уровня дохода нет. Но мы видим, что больше всего клиентов у банка со средним заработком. Самые надежные клиенты, - это люди с заработком ниже среднего. Больше всего должников в группе с низким уровнем заработка.

### Как разные цели кредита влияют на его возврат в срок?

In [ ]:
#display (data)
purpose_debt = (data.groupby('purpose_category')['debt'].agg({'count', 'mean'})) # 
display (purpose_debt.sort_values(by='mean', ascending=False))
# Ваш код будет здесь. Вы можете создавать новые ячейки.

                              mean  count
purpose_category
операции с автомобилем    0.093480   4279
получение образования     0.092528   3988
проведение свадьбы        0.079118   2313
операции с недвижимостью  0.072551  10751

**Вывод:** Зависимость есть от цели кредит. Так мы видимо люди, взявшие кредит на операцию с недвижимостью меньше всего, задерживают выплаты. А вот кто взял кредит на автомобиль или образование чаще всего нарушают сроки.

### Приведем возможные причины появления пропусков в исходных данных.

**Ответ:** Причина скорее всего в человеческом факторе, заемщики не указал сумму дохода или оператор не в нес в программу.

### Объясним, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

**Ответ:** Для исследования нам не нужны конкретные данные о зарплате каждого заемщики. Нам потребуется средняя заработная плата для каждой категории людей. За среднюю зарплату в группе мы возьмем медианное значение, для того что бы исключить все не характерные для этой группы данные (искаженные значения).

## Итоговый вывод:

Из исследования мы видим, что семейное положение и цель кредита влияют на надежность клиента. При этом количество детей и средняя заработная плата влияет гораздо меньше. Самый надежный клиент для банка — это вдовец или вдова, взявший(ая) кредит для операции с недвижимостью.